p {
    padding-bottom: 200px;font-family: cursive;text-indent: 50px;
  }
  body{background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1746&q=80);
    background-size:cover;
  }
  table td {background-color:#F2D2BD; border: 5px;border-style:solid;
    
  }
  h1{font-family:monospace;font-size:30px;background-color:#F2D2BD;border: 5px;border-style:solid;margin:auto;
    
  }
  h4{font-family:monospace;font-size:20px
    
  }
  h2{border-style:hidden;font-family:monospace;font-size:30px;background-color:#F2D2BD;margin:auto;border-bottom-style:hidden;
    
  }
  form{font-family:monospace;font-size:30px;background-color:#F2D2BD;border:5px;border-style:solid;text-align:center;margin:auto;
   
  }
  
  div{text-align:center;
  }